body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 15px auto;
  background-color: lightblue;
  border-radius: 30px;
  border: solid 2px blue;
}

h1 {
  color: white;
  font-size: 4rem;
  margin: 5px 0;
  padding: 0 auto;
}

h2 {
  background-color: lightblue;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  text-align: center; 
  border-radius: 15px 15px 0 0;
  color: white;
  font-size: 2rem;
}

h3 {
  padding: 2px;
  margin: 5px;
  color: lightblue;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  padding-bottom: 15px;
}

.cardContainer {
  background-color: white;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: solid 2px blue;
}

.formContainer {
  background-color: lightblue;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
  border-radius: 15px;
  border: solid 2px blue;
  
}

input {
  width: 400px;
  height: 25px;
  margin: 10px 0;
  font-size: 1.25rem;
  border: solid 2px blue;
  padding-left: 5px;
}

.submitButton {
  width: 250px;
  height: 50px;
  margin: 10px auto;
  border-radius: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: white;
  color: lightblue;
}